html {
    width: 100%;
}

body {
    background-color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.black {
    background-color: #000000;
    height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .center, .right {
    margin: 0 4%;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex-basis: 30%
}

.center{
    flex-basis: 50%;
    display: flex; 
    align-items: center; 
    text-align: center;
}

.right {
    flex-basis: 10%;
    display: flex; 
    align-items: center; 
    text-align: center;
}

.black img{
    width: 90%;
    height: 60%;
    margin: 0 auto; 
    display: block; 
}

.center a {
    font-size: 16px; 
    font-weight: 500;
    text-decoration: none;
    padding: 0 8%;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto; 
    display: block; 
}

.right p {
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 400;
    margin: 0 auto; 
    display: block; 
}

.grey {
    background-color: #3D3D3D;
    height: 14px;
}

main {
    padding: 0 5%; 
    box-sizing: border-box; 
}

.image {
    margin-top: 85px;
    margin-bottom: 110px;
}

.image1 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 0 25px;
}

.image1 img {
    flex: 1; 
    margin: 0;
    max-width: 25%;
    align-self: stretch;
}

.center_img {
    display: flex;
    padding: 0 0 25px;
}

.center_img_left{
    flex: 35%;
    width: 35%;
    flex-direction: column;
    height: 655px;
    margin-right: 15px;
}

.center_img_left_up {
    height: 250px; 
    display: flex;
    margin-bottom: 20px;
}

.center_img_left_up_left {
    flex: calc(100% - 15px);  
    margin-right: 15px;
}

.center_img_left_up_left p {
    width: calc(100% - 20px);
    height: 135px;
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_left_up_left img {
    width: 100%;
    height: 75px;
    margin-top: 20px;
}

.center_img_left_up_right{
    flex: calc(20% - 15px);
}

.center_img_left_up_right img{
    height: calc(100%);
    width: 100%;
    margin: 0;
}

.center_img_left_bottom {
    height: 355px; 
    display: flex;
    flex-direction: column;
}

.center_img_left_bottom_up{
    height: 385px; 
    display: flex;
    margin-bottom: 20px;
}

.center_img_left_bottom_up_left{
    height: 290px;
    flex: 20%;
    margin-right: 15px;
}

.center_img_left_bottom_up_left img{
    height: 100%;
    width: 100%;
    margin: 0;
}

.center_img_left_bottom_up_right{
    height: 290px;
    flex: 80%;
}

.center_img_left_bottom_up_right p {
    height: 270px;
    width: calc(100% - 20px);
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_left_bottom_bottom{
    height: 75px;
    width: 100%;
}

.center_img_left_bottom_bottom img{
    height: 75px;
    width: 100%;
}

.center_img_center {
    flex: 23%;
    width: 23%;
}

.center_img_center_up {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

.center_img_center_up img{
    height: 250px;
    width: 100%;
}

.center_img_center_bottom {
    height: 385px;
    width: 100%;
}

.center_img_center_bottom img{
    height: 385px;
    width: 100%;
}


.center_img_right {
    flex: 42%;
    width: 42%;
    margin-left: 15px;
    height: 655px;
    display: flex;
    flex-direction: column;
}

.center_img_right_up{
    height: 450px;
    display: flex;
    margin-bottom: 20px;
}

.center_img_right_up_left{
    flex: calc(20% - 15px);
    margin-right: 15px;
}

.center_img_right_up_left img{
    height: 450px;
    width: 100%;
}

.center_img_right_up_right{
    flex: calc(80% - 15px);
    flex-direction: column;
}

.center_img_right_up_right_up {
    display: flex;
    margin-bottom: 20px;
    height: 170px;
}

.center_img_right_up_right_up_left {
    flex: 80%;
}

.center_img_right_up_right_up_left p {
    height: 150px;
    width: calc(100% - 20px);
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_right_up_right_up_right {
    flex: 20%;
}

.center_img_right_up_right_up_right img {
    width: calc(100% - 15px);
    height: 170px;
    margin-left: 15px;
}


.center_img_right_up_right_center{
    height: 60px;
    margin-bottom: 20px;
}

.center_img_right_up_right_center img{
    width: 100%;
    height: 100%;
}

.center_img_right_up_right_bottom{
    margin-bottom: 20px;
    height: 180px;
}

.center_img_right_up_right_bottom img{
    width: 100%;
    height: 100%;
}

.center_img_right_bottom{
    height: 185px;
    display: flex;
}

.center_img_right_bottom_left {
    flex: 65%;
}

.center_img_right_bottom_left p {
    height: 165px;
    width: calc(100% - 20px);
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_right_bottom_right {
    flex: 35%;
}

.center_img_right_bottom_right img {
    width: calc(100% - 15px);
    height: 185px;
    margin-left: 15px;
}

.thankYouLetters{
    margin-bottom: 130px;
}

.thankYouLetters h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.thankYouLettersImage {
    display: flex;
    justify-content: space-between; 
}

.thankYouLettersImage img {
    flex: 1;
    margin: 0 5px; 
    max-width: calc((100% - 40px) / 5); 
    align-self: stretch;
}

.thankYouLettersImage img:first-child {
    margin-left: 0;
}

.thankYouLettersImage img:last-child {
    margin-right: 0;
}

.weAreBuilding{
    margin-bottom: 105px;
}

.weAreBuilding h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.weAreBuildingDataListLeftUp p, .weAreBuildingDataListLeftUp li,
.weAreBuildingDataListLeftBottom p, .weAreBuildingDataListLeftBottom li,
.weAreBuildingDataListRightUp p, .weAreBuildingDataListRightUp li,
.weAreBuildingDataListRightCenter p, .weAreBuildingDataListRightCenter li,
.weAreBuildingDataListRightBottom p, .weAreBuildingDataListRightBottom li {
    color:#FFFFFF;
    font-size: 12px; 
    font-weight: 500;
    margin: 0;
}

.weAreBuildingDataListLeftUp li, .weAreBuildingDataListLeftBottom li,
.weAreBuildingDataListRightUp li, .weAreBuildingDataListRightCenter li,
.weAreBuildingDataListRightBottom li {
    margin-left: 5px;
}

.weAreBweAreBuildingDataListRight {
    float: right;
}


.weAreBuildingDataListLeftUp{
    margin-bottom: 35px;
}

.weAreBuildingDataListRightUp{
    margin-bottom: 30.4px;
}

.weAreBuildingDataListRightCenter{
    margin-bottom: 35px;
}

.red {
    list-style-type: none;
    padding-left: 17.6px;
}


.weAreBuildingData{
    display: flex;
}

.weAreBuildingDataList, .weAreBuildingDataImage{
    flex: 1;
}

.weAreBuildingDataList {
    display: flex;
}

.weAreBuildingDataListLeft, .weAreBuildingDataListRight{
    flex: 1;
}

.weAreBuildingDataImage{
    height: 380px;
    display: flex;
}

.weAreBuildingDataImageLeft, .weAreBuildingDataImageRight{
    flex: calc(100% - 10px);
    display: flex;
    flex-direction: column;
}
 
.weAreBuildingDataImageLeft{
    margin-right: 20px;
}

.weAreBuildingDataImageLeftUp{
    flex: calc(100% - 220px - 25px);
    height: calc(100% - 220px - 25px);
    margin-bottom: 25px;
}

.weAreBuildingDataImageLeftUp img{
    height: 100%;
    width: 100%;
}

.weAreBuildingDataImageLeftBottom{
    flex: calc(100% - 135px - 25px);
    height: calc(100% - 135px - 25px);
}

.weAreBuildingDataImageLeftBottom img{
    height: 100%;
    width: 100%;
}

.weAreBuildingDataImageRightUp{
    flex: calc(100% - 135px - 25px);
    height: calc(100% - 135px - 25px);
    margin-bottom: 25px;
}

.weAreBuildingDataImageRightUp img{
    height: 100%;
    width: 100%;
}

.weAreBuildingDataImageRightBottom{
    flex: calc(100% - 220px - 25px);
    height: calc(100% - 220px - 25px);
}

.weAreBuildingDataImageRightBottom img{
    height: 100%;
    width: 100%;
}

footer{
    height: 160px;
    background-color: #3D3D3D;
}
