html {
    width: 100%;
}

body {
    background-color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.black {
    background-color: #000000;
    height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .center, .right {
    margin: 0 4%;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex-basis: 30%
}

.center{
    flex-basis: 50%;
    display: flex; 
    align-items: center; 
    text-align: center;
}

.right {
    flex-basis: 20%;
    display: flex; 
    align-items: center; 
    text-align: center;
}

.black img{
    width: 90%;
    height: 60%;
    margin: 0 auto; 
    display: block; 
}

.center a {
    font-size: 16px; 
    font-weight: 500;
    text-decoration: none;
    padding: 0 8%;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto; 
    display: block; 
}

.right p {
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 400;
    margin: 0 auto; 
    display: block; 
}

.grey {
    background-color: #3D3D3D;
    height: 14px;
}

main {
    padding: 0 5%; 
    box-sizing: border-box; 
}

.image {
    margin-top: 85px;
    margin-bottom: 110px;
}

.image1 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 0 25px;
}

.image1 img {
    flex: 1; 
    margin: 0;
    max-width: 25%;
    align-self: stretch;
}

.center_img {
    display: flex;
    padding: 0 0 25px;
}

.center_img_left{
    flex: 35%;
    width: 35%;
    flex-direction: column;
    height: 655px;
    margin-right: 15px;
}

.center_img_left_up {
    height: 250px; 
    display: flex;
    margin-bottom: 20px;
}

.center_img_left_up_left {
    flex: calc(100% - 15px);  
    margin-right: 15px;
}

.center_img_left_up_left p {
    width: calc(100% - 20px);
    height: 135px;
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_left_up_left img {
    width: 100%;
    height: 75px;
    margin-top: 20px;
}

.center_img_left_up_right{
    flex: calc(20% - 15px);
}

.center_img_left_up_right img{
    height: calc(100%);
    width: 100%;
    margin: 0;
}

.center_img_left_bottom {
    height: 355px; 
    display: flex;
    flex-direction: column;
}

.center_img_left_bottom_up{
    height: 385px; 
    display: flex;
    margin-bottom: 20px;
}

.center_img_left_bottom_up_left{
    height: 290px;
    flex: 20%;
    margin-right: 15px;
}

.center_img_left_bottom_up_left img{
    height: 100%;
    width: 100%;
    margin: 0;
}

.center_img_left_bottom_up_right{
    height: 290px;
    flex: 80%;
}

.center_img_left_bottom_up_right p {
    height: 270px;
    width: calc(100% - 20px);
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_left_bottom_bottom{
    height: 75px;
    width: 100%;
}

.center_img_left_bottom_bottom img{
    height: 75px;
    width: 100%;
}

.center_img_center {
    flex: 23%;
    width: 23%;
}

.center_img_center_up {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

.center_img_center_up img{
    height: 250px;
    width: 100%;
}

.center_img_center_bottom {
    height: 385px;
    width: 100%;
}

.center_img_center_bottom img{
    height: 385px;
    width: 100%;
}


.center_img_right {
    flex: 42%;
    width: 42%;
    margin-left: 15px;
    height: 655px;
    display: flex;
    flex-direction: column;
}

.center_img_right_up{
    height: 450px;
    display: flex;
    margin-bottom: 20px;
}

.center_img_right_up_left{
    flex: calc(20% - 15px);
    margin-right: 15px;
}

.center_img_right_up_left img{
    height: 450px;
    width: 100%;
}

.center_img_right_up_right{
    flex: calc(80% - 15px);
    flex-direction: column;
}

.center_img_right_up_right_up {
    display: flex;
    margin-bottom: 20px;
    height: 170px;
}

.center_img_right_up_right_up_left {
    flex: 80%;
}

.center_img_right_up_right_up_left p {
    height: 150px;
    width: calc(100% - 20px);
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_right_up_right_up_right {
    flex: 20%;
}

.center_img_right_up_right_up_right img {
    width: calc(100% - 15px);
    height: 170px;
    margin-left: 15px;
}


.center_img_right_up_right_center{
    height: 60px;
    margin-bottom: 20px;
}

.center_img_right_up_right_center img{
    width: 100%;
    height: 100%;
}

.center_img_right_up_right_bottom{
    margin-bottom: 20px;
    height: 180px;
}

.center_img_right_up_right_bottom img{
    width: 100%;
    height: 100%;
}

.center_img_right_bottom{
    height: 185px;
    display: flex;
}

.center_img_right_bottom_left {
    flex: 65%;
}

.center_img_right_bottom_left p {
    height: 165px;
    width: calc(100% - 20px);
    font-size: 14px; 
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    margin: 0;
}

.center_img_right_bottom_right {
    flex: 35%;
}

.center_img_right_bottom_right img {
    width: calc(100% - 15px);
    height: 185px;
    margin-left: 15px;
}

.thankYouLetters{
    margin-bottom: 130px;
}

.thankYouLetters h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.thankYouLettersImage {
    display: flex;
    justify-content: space-between; 
}

.thankYouLettersImage img {
    flex: 1;
    margin: 0 5px; 
    max-width: calc((100% - 40px) / 5); 
    align-self: stretch;
}

.thankYouLettersImage img:first-child {
    margin-left: 0;
}

.thankYouLettersImage img:last-child {
    margin-right: 0;
}

.weAreBuilding{
    margin-bottom: 105px;
}

.weAreBuilding h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.weAreBuildingDataListLeftUp p, .weAreBuildingDataListLeftUp li,
.weAreBuildingDataListLeftBottom p, .weAreBuildingDataListLeftBottom li,
.weAreBuildingDataListRightUp p, .weAreBuildingDataListRightUp li,
.weAreBuildingDataListRightCenter p, .weAreBuildingDataListRightCenter li,
.weAreBuildingDataListRightBottom p, .weAreBuildingDataListRightBottom li {
    color:#FFFFFF;
    font-size: 12px; 
    font-weight: 500;
    margin: 0;
}

.weAreBuildingDataListLeftUp li, .weAreBuildingDataListLeftBottom li,
.weAreBuildingDataListRightUp li, .weAreBuildingDataListRightCenter li,
.weAreBuildingDataListRightBottom li {
    margin-left: 5px;
}

.weAreBweAreBuildingDataListRight {
    float: right;
}


.weAreBuildingDataListLeftUp{
    margin-bottom: 35px;
}

.weAreBuildingDataListRightUp{
    margin-bottom: 30.4px;
}

.weAreBuildingDataListRightCenter{
    margin-bottom: 35px;
}

.red {
    list-style-type: none;
    padding-left: 17.6px;
}


.weAreBuildingData{
    display: flex;
}

.weAreBuildingDataList, .weAreBuildingDataImage{
    flex: 1;
}

.weAreBuildingDataList {
    display: flex;
}

.weAreBuildingDataListLeft, .weAreBuildingDataListRight{
    flex: 1;
}

.weAreBuildingDataImage{
    height: 380px;
    display: flex;
}

.weAreBuildingDataImageLeft, .weAreBuildingDataImageRight{
    flex: calc(100% - 10px);
    display: flex;
    flex-direction: column;
}
 
.weAreBuildingDataImageLeft{
    margin-right: 20px;
}

.weAreBuildingDataImageLeftUp{
    flex: calc(100% - 220px - 25px);
    height: calc(100% - 220px - 25px);
    margin-bottom: 25px;
}

.weAreBuildingDataImageLeftUp img{
    height: 100%;
    width: 100%;
}

.weAreBuildingDataImageLeftBottom{
    flex: calc(100% - 135px - 25px);
    height: calc(100% - 135px - 25px);
}

.weAreBuildingDataImageLeftBottom img{
    height: 100%;
    width: 100%;
}

.weAreBuildingDataImageRightUp{
    flex: calc(100% - 135px - 25px);
    height: calc(100% - 135px - 25px);
    margin-bottom: 25px;
}

.weAreBuildingDataImageRightUp img{
    height: 100%;
    width: 100%;
}

.weAreBuildingDataImageRightBottom{
    flex: calc(100% - 220px - 25px);
    height: calc(100% - 220px - 25px);
}

.weAreBuildingDataImageRightBottom img{
    height: 100%;
    width: 100%;
}

footer{
    height: 160px;
    background-color: #3D3D3D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_footer, .center_footer {
    margin: 0 4%;
    justify-content: space-between;
    align-items: center;
}

.left_footer {
    flex-basis: 30%

}

.center_footer{
    flex-basis: 70%;
    display: flex;
    align-items: flex-start;
}

.left_footer img{
    width: 87%;
    height: 55%;
    margin: 0 auto; 
    display: block; 
}

.center_footer_left{
    flex: 37%; 
    margin: 0 2%;
}

.center_footer_center{
    flex: 25%; 
    margin: 0 2%;
}

.center_footer_right{
    flex: 38%; 
    margin: 0 2%;
}

.center_footer_left p {
    color: #FFFFFF;
    font-size: 11px; 
    font-weight: 600;
    margin: 0 10%; 
}

.center_footer_center p {
    color: #FFFFFF;
    font-size: 12px; 
    font-weight: 500;
    margin: 0 10%; 
}

.center_footer_right p {
    color: #FFFFFF;
    font-size: 12px; 
    font-weight: 500;
    margin: 0 10%; 
}

.contacts {
    margin-top: 85px;
    margin-bottom: 110px;
}

.contacts_up {
    display: flex;
}

.contacts_up_left {
    flex: 40%
}

.contacts_up_right {
    flex: 60%
}

.contacts_up_left_up p {
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 600;
    margin: 0 auto 25px;
}

.contacts_up_left_bottom p {
    color: #FFFFFF;
    font-size: 12px; 
    font-weight: 500;
    margin: 0 auto;
}


.contacts_up_left_bottom{
    display: flex;
}

.contacts_up_left_bottom_left{
    flex: 40%;
}

.contacts_up_left_bottom_right{
    flex: 60%;
    margin-top: 30.4px;
}

.contacts_up_right{
    display: flex;
    justify-content: space-between; 
}

.contacts_up_right img{
    flex: 1;
    margin: 0 25px; 
    max-width: calc((100% - 150px) / 3); 
    align-self: stretch;
}

.jobOpenings h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.jobOpenings_Data{
    display: flex;
    margin-bottom: 60px;
}

.jobOpenings_Data_left{
    flex: 35%;
}

.jobOpenings_Data_right{
    flex: 65%;
}

.jobOpenings_Data_left_up p, .jobOpenings_Data_right_up p, 
.jobOpenings_Data_right_bottom p, .jobOpenings_Data_left_up li,
.jobOpenings_Data_left_bottom p, .jobOpenings_Data_left_bottom li{
    color:#FFFFFF;
    font-size: 12px; 
    font-weight: 500;
    margin: 0;
}

.jobOpenings_Data_left_up li, .jobOpenings_Data_left_bottom li{
    margin-left: 5px;
}

.jobOpenings_Data_left_up, .jobOpenings_Data_right_up{
    margin-bottom: 25px;
}

.designing {
    margin-top: 65px;
    margin-bottom: 70px;
    display: flex;
}

.designing_left{
    margin-right: 26px;
    flex: calc(55% - 13px);
}

.designing_left img{
    width: 100%;    
    height: auto;
}

.designing_right {
    flex: calc(45% - 13px);
}

.designing_right p{
    color: #FFFFFF;
    font-size: 12px; 
    font-weight: 400;
    margin: 0 auto;
}

.construction {
    margin-top: 90px;
    margin-bottom: 105px;
}

.constructionAndInstallationWorks{
    display: flex;
    margin-bottom: 130px;
}

.constructionAndInstallationWorks_left{
    flex: 45%;
}

.constructionAndInstallationWorks_right{
    flex: 55%;
    margin-top: 38px;
}

.constructionAndInstallationWorks_left h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.constructionAndInstallationWorks_left_Data{
    display: flex;
}

.constructionAndInstallationWorks_left_Data_left, .constructionAndInstallationWorks_left_Data_right{
    flex:1;
}

.constructionAndInstallationWorks_left_Data_left_up p, .constructionAndInstallationWorks_left_Data_left_bottom p,
.constructionAndInstallationWorks_left_Data_left_up li, .constructionAndInstallationWorks_left_Data_left_bottom li,
.constructionAndInstallationWorks_left_Data_right_up p, .constructionAndInstallationWorks_left_Data_right_bottom p,
.constructionAndInstallationWorks_left_Data_right_up li, .constructionAndInstallationWorks_left_Data_right_bottom li{
    color:#FFFFFF;
    font-size: 12px; 
    font-weight: 400;
    margin: 0;
}

.constructionAndInstallationWorks_left_Data_right_up{
    margin-bottom: 105px;
}

.constructionAndInstallationWorks_left_Data_left_up{
    margin-bottom: 75px;
}

.constructionAndInstallationWorks_left_Data_right_up li, .constructionAndInstallationWorks_left_Data_left_up li{
    margin-left: 5px;
}

.constructionAndInstallationWorks_right img{
    width: 100%;
    height: 100%;
}

.productionOfMetalStructures h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.productionOfMetalStructures{
    margin-bottom: 75px;
}

.productionOfMetalStructures_Data {
    display: flex;
}

.productionOfMetalStructures_Data_left,  
.productionOfMetalStructures_Data_center{
    flex: 26%;
}

.productionOfMetalStructures_Data_right{
    flex: 48%;
}

.productionOfMetalStructures_Data_left_up p,
.productionOfMetalStructures_Data_left_bottom p,
.productionOfMetalStructures_Data_left_up li,
.productionOfMetalStructures_Data_left_bottom li,
.productionOfMetalStructures_Data_center_up p,
.productionOfMetalStructures_Data_center_up li,
.productionOfMetalStructures_Data_center_bottom p,
.productionOfMetalStructures_Data_center_bottom li,
.productionOfMetalStructures_Data_right_up p,
.productionOfMetalStructures_Data_right_up li,
.productionOfMetalStructures_Data_right_bottom p,
.productionOfMetalStructures_Data_right_bottom li{
    color:#FFFFFF;
    font-size: 12px; 
    font-weight: 400;
    margin: 0;
}

.productionOfMetalStructures_Data_left_up{
    margin-bottom: 45px;
}

.productionOfMetalStructures_Data_center_up, 
.productionOfMetalStructures_Data_right_up{
    margin-bottom: 29px;
}

.productionOfMetalStructures_Data_left_up li,
.productionOfMetalStructures_Data_left_bottom li,
.productionOfMetalStructures_Data_center_up li,
.productionOfMetalStructures_Data_center_bottom li
.productionOfMetalStructures_Data_center_right li,
.productionOfMetalStructures_Data_center_right li{
    margin-left: 5px;
}

.examplesOfWorks h1{
    color:#FFFFFF;
    font-size: 28px; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

.examplesOfWorks {
    margin-bottom: 170px;
}

.examplesOfWorksData{
    list-style-type: none;
}

.examplesOfWorksData a {
    color:#FFFFFF;
    font-size: 20px; 
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

.toggle-link {
    display: flex;
    align-items: center;
}

.toggle-link .icon {
    width: 10px; 
    height: 10px;
    margin-right: 4px; 
    transition: transform 0.3s ease;
    margin-bottom: 2px;
}

.toggle-link.active .icon {
    transform: rotate(90deg);
}

.FoundationWorks,
.InstallationOfMetalStructures,
.ManufactureAndInstallationOfSilosRVS_CSG,
.InstallationOfTanks,
.InstallationOfTechnologicalPipelines,
.FacadeAndExteriorWorks,
.RoofingWorks,
.ReconstructionAndDismantlingWorks,
.Landscaping,
.EngineeringСommunications,
.FinishingWorks {
    display: none;
}

.FoundationWorks.active,
.InstallationOfMetalStructures.active,
.ManufactureAndInstallationOfSilosRVS_CSG.active,
.InstallationOfTanks.active,
.InstallationOfTechnologicalPipelines.active,
.FacadeAndExteriorWorks.active,
.RoofingWorks.active,
.ReconstructionAndDismantlingWorks.active,
.Landscaping.active,
.EngineeringСommunications.active,
.FinishingWorks.active {
    display: block;
}


.FoundationWorksImage,
.InstallationOfMetalStructuresImage,
.ManufactureAndInstallationOfSilosRVS_CSGImage,
.InstallationOfTanksImage,
.InstallationOfTechnologicalPipelinesImage,
.FacadeAndExteriorWorksImage,
.RoofingWorksImage,
.ReconstructionAndDismantlingWorksImage,
.LandscapingImage,
.EngineeringСommunicationsImage,
.FinishingWorksImage {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.FoundationWorksImage img,
.InstallationOfMetalStructuresImage img,
.ManufactureAndInstallationOfSilosRVS_CSGImage img,
.InstallationOfTanksImage img,
.InstallationOfTechnologicalPipelinesImage img,
.FacadeAndExteriorWorksImage img,
.RoofingWorksImage img,
.ReconstructionAndDismantlingWorksImage img,
.LandscapingImage img,
.EngineeringСommunicationsImage img,
.FinishingWorksImage img {
    flex: calc((100% - 300px) / 4);
    width: calc((100% - 300px) / 4);
    margin: 0 50px;
    margin-bottom: 25px;
}

.FoundationWorksImage img:nth-child(4n-3),
.InstallationOfMetalStructuresImage img:nth-child(4n-3),
.ManufactureAndInstallationOfSilosRVS_CSGImage img:nth-child(4n-3),
.InstallationOfTanksImage img:nth-child(4n-3),
.InstallationOfTechnologicalPipelinesImage img:nth-child(4n-3),
.FacadeAndExteriorWorksImage img:nth-child(4n-3),
.RoofingWorksImage img:nth-child(4n-3),
.ReconstructionAndDismantlingWorksImage img:nth-child(4n-3),
.LandscapingImage img:nth-child(4n-3),
.EngineeringСommunicationsImage img:nth-child(4n-3),
.FinishingWorksImage img:nth-child(4n-3){
    margin-left: 0px;
}

.FoundationWorksImage img:nth-child(4n),
.InstallationOfMetalStructuresImage img:nth-child(4n),
.ManufactureAndInstallationOfSilosRVS_CSGImage img:nth-child(4n),
.InstallationOfTanksImage img:nth-child(4n),
.InstallationOfTechnologicalPipelinesImage img:nth-child(4n),
.FacadeAndExteriorWorksImage img:nth-child(4n),
.RoofingWorksImage img:nth-child(4n),
.ReconstructionAndDismantlingWorksImage img:nth-child(4n),
.LandscapingImage img:nth-child(4n),
.EngineeringСommunicationsImage img:nth-child(4n),
.FinishingWorksImage img:nth-child(4n){
    margin-right: 0px;
}

.examplesOfWorksData .toggle-link {
    cursor: pointer;
}

@media screen and (min-width: 2000px) {
    .center a {
        font-size: 20px; 
    }
    
    .right p {
        font-size: 20px; 
    }

    .center_img_left_up_left p {
        font-size: 18px; 
    }

    .center_img_left_bottom_up_right p {
        font-size: 18px; 
    }

    .center_img_right_up_right_up_left p {
        font-size: 18px; 
    }

    .center_img_right_bottom_left p {
        font-size: 18px; 
    }

    .thankYouLetters h1{
        font-size: 32px; 
    }

    .weAreBuilding h1{
        font-size: 32px; 
    }
    
    .weAreBuildingDataListLeftUp p, .weAreBuildingDataListLeftUp li,
    .weAreBuildingDataListLeftBottom p, .weAreBuildingDataListLeftBottom li,
    .weAreBuildingDataListRightUp p, .weAreBuildingDataListRightUp li,
    .weAreBuildingDataListRightCenter p, .weAreBuildingDataListRightCenter li,
    .weAreBuildingDataListRightBottom p, .weAreBuildingDataListRightBottom li {
        font-size: 16px; 
    }

    .center_footer_left p {
        font-size: 15px; 
    }

    .center_footer_center p {
        font-size: 16px;
    }

    .center_footer_right p {
        font-size: 16px; 
    }

    .contacts_up_left_up p {
        font-size: 20px; 
    }
    
    .contacts_up_left_bottom p {
        font-size: 16px; 
    }

    .jobOpenings h1{
        font-size: 32px; 
    }

    .jobOpenings_Data_left_up p, .jobOpenings_Data_right_up p, 
    .jobOpenings_Data_right_bottom p, .jobOpenings_Data_left_up li,
    .jobOpenings_Data_left_bottom p, .jobOpenings_Data_left_bottom li{
        font-size: 16px; 
    }

    .designing_right p{
        font-size: 16px; 
    }

    .constructionAndInstallationWorks_left h1{
        font-size: 32px;
    }

    .constructionAndInstallationWorks_left_Data_left_up p, .constructionAndInstallationWorks_left_Data_left_bottom p,
    .constructionAndInstallationWorks_left_Data_left_up li, .constructionAndInstallationWorks_left_Data_left_bottom li,
    .constructionAndInstallationWorks_left_Data_right_up p, .constructionAndInstallationWorks_left_Data_right_bottom p,
    .constructionAndInstallationWorks_left_Data_right_up li, .constructionAndInstallationWorks_left_Data_right_bottom li{
        font-size: 16px;
    }

    .productionOfMetalStructures h1{
        font-size: 32px;
    }

    .productionOfMetalStructures_Data_left_up p,
    .productionOfMetalStructures_Data_left_bottom p,
    .productionOfMetalStructures_Data_left_up li,
    .productionOfMetalStructures_Data_left_bottom li,
    .productionOfMetalStructures_Data_center_up p,
    .productionOfMetalStructures_Data_center_up li,
    .productionOfMetalStructures_Data_center_bottom p,
    .productionOfMetalStructures_Data_center_bottom li,
    .productionOfMetalStructures_Data_right_up p,
    .productionOfMetalStructures_Data_right_up li,
    .productionOfMetalStructures_Data_right_bottom p,
    .productionOfMetalStructures_Data_right_bottom li{
        font-size: 16px; 
    }

    .examplesOfWorks h1{
        font-size: 32px;
    }

    .examplesOfWorksData a {
        font-size: 24px;
    }

    .black {
        height: 127px;
    }
}